<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}">

        {% if title %}
        <title>{{ title }} - Маяк</title>
        {% else %}
        <title>Маяк - Егорьевск</title>
        {% endif %}
    </head>
    
    <body>
        <!--Хедер тут-->
        <header>
            {% if admin %}
                <a href="{{ url_for('admin.index') }}" id="admin_block" title="Перейти в админ-панель">
                    <img src="{{ url_for('static', filename='img/admin.png') }}">
                </a>
            {% endif %}

            <div id="sup_block_header">
                <a href="{{ url_for('index') }}" id="image_header_block">
                    <img src="{{ url_for('static', filename='img/logo.png') }}" id="image_header">
                </a>
    
                <div id="telefons_header">
                    <a href="tel: +74964031662" class="telefon">
                        +74964031662
                    </a>
    
                    <a href="tel:(49640)3-16-62" class="telefon">
                        (49640)3-16-62
                    </a>
    
                    <!--Линия между телефонами и меню-->
                    <i class="line"></i>
                </div>
    
                <div id="dots_header">
                    <i class="dot"></i>
                    <i class="dot"></i>
                    <i class="dot"></i>
    
                    <ul id="menu_social">
                        <li class="social_el"><a href="#" target="_blank" class="social_link">Контакты</a></li>
                        <li class="social_el"><a href="https://vk.com/mcmayak" target="_blank" class="social_link">ВКонтакте</a></li>
                        <!--<li class="social_el"><a href="{{ url_for('all_posts') }}" class="social_link">Новости</a></li>-->
                        <li class="social_el telefon_children"><span class="social_link">Телефон доверия</span></li>
                    </ul>
                </div>
    
                <div id="burger_mobile">
    
                    <div id="burger_lines">
                        <i class="burger_line"></i>
                        <i class="burger_line"></i>
                        <i class="burger_line"></i>
                    </div>
    
                    <ul id="menu_social" class="burger_list">
                        <li class="social_el">
                            <a href="{{ url_for('socio_psych') }}" class="social_link">Социально-психологическая помощь</a>
                        </li>
    
                        <li class="social_el">
                            <a href="{{ url_for('yurist') }}" class="social_link">Юридические услуги</a>
                        </li>
    
                        <li class="social_el">
                            <a href="{{ url_for('dom') }}" class="social_link">МООМ "ДОМ"</a>
                        </li>
    
                        <li class="social_el">
                            <a href="{{ url_for('school_dance') }}" class="social_link">Школа танца</a>
                        </li>
    
                        <li class="social_el">
                            <a href="{{ url_for('gym') }}" class="social_link">Тренажёрный зал</a>
                        </li>
                    </ul>
                </div>	
            </div>
    
            <div id="sub_block_header">
                <nav>
                    <ul id="nav_list">
    
                        <li class="nav_element">
                            <span class="nav_link">
                                Службы/Услуги
                            </span>
    
                            <ul id="services_menu">
                                <li class="services_el"><a href="{{ url_for('socio_psych') }}" class="services_link">Социально-психологическая помощь</a></li>
                                <li class="services_el"><a href="{{ url_for('yurist') }}" class="services_link">Юридические услуги</a></li>
                            </ul>
                        </li>
    
                        <li class="nav_element">
                            <a href="{{ url_for('dom') }}" class="nav_link {{ links['dom'] }}">
                                МООМ "ДОМ"
                                <span class="invisible"></span>
                            </a>
                        </li>
    
                        <li class="nav_element">
                            <a href="{{ url_for('school_dance') }}" class="nav_link {{ links['school_dance'] }}">
                                Школа танца
                                <span class="invisible"></span>
                            </a>
                        </li>
    
                        <li class="nav_element">
                            <a href="{{ url_for('gym') }}" class="nav_link {{ links['gym'] }}" id="trenya_link">
                                Тренажёрный зал
                                <span class="invisible"></span>
                            </a>
                        </li>
    
                    </ul>
                </nav>
            </div>
        </header>
        

        <section id="popup">
            <div class="content_popup">
                
                    <h3>Детский телефон доверия</h3>
            
                    <div class="text_popup">
                        <p>Детский телефон доверия предназначен для оказания экстренной психологической помощи, для оказания моральной, эмоциональной или духовной поддержки.</p>
            
                        <p>Номер указан снизу, позвоните по нему, если у вас имеются проблемы.</p>
                    </div>
            
                    <button>
                        <a href="tel:36316">3-63-16</a>
                    </button>
                
        
                <span id="close">Х</span>
            </div>	
        </section>

        <!--Весь остальной контент-->
        {% block content %}
        {% endblock %}

        <footer>
            <!--Блок с картинкой и несколькими ссылками-->
            <section class="footer_contain">
        
                <div class="footer_logo_block">
                    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Логотип.png" id="footer_logo">
                </div>
        
                <div id="footer_links">
                    <a href="" class="footer_link">
                        О компании
                    </a>
        
                    <a href="" class="footer_link">
                        Сотрудничество
                    </a>
        
                    <a href="" class="footer_link">
                        Лицензии
                    </a>
                </div>
        
                <div id="footer_social_links">
                    <a href="https://vk.com/mcmayak" target="blank"class="footer_social_link"><img src="{{ url_for('static', filename='img/vk.png') }}" alt=""></a>
                    <a href="https://www.youtube.com/channel/UC1lLz2dS0IwmgFuxyqxrlQw" target="blank"class="footer_social_link"><img src="{{ url_for('static', filename='img/twitter.png') }}" alt=""></a>
                    <a href="" target="blank"class="footer_social_link"><img src="{{ url_for('static', filename='img/youtube.png') }}" alt=""></a>
                </div>
            </section>
        </footer>
    </body>
</html>

<script src="{{ url_for('static', filename='javascript/js.js') }}"></script>