{% extends 'base.html' %}

{% block content %}
{{ super() }}
<div class="wrapper_first dance__wrapper_first">
	<div id="dark_background"></div>

	<div class="center_block">
		<div class="slider">
			<!-- <input type="radio" name="slide" id="s1">
			<input type="radio" name="slide" id="s2">   
			<input type="radio" name="slide" id="s3"> -->                     

			<div class="slider_line">
				<section class="slider_element first_slide">
					<div class="header_block">
						<h1>
							<span class="invisible"></span>
							Школа танца
						</h1>
					</div>

					<div class="text">
						<p>
							Наша команда рада видеть вас на странице, посвящённой нашей замечательной Школе Танцев. Наши наставники, являются профессиональными танцорами и готовы обучить вас всему, что сами познали в этом ремесле.
						</p>
					</div>

					<div class="button_sub_text">
						<button>
							<a href="https://vk.com/dance_shagi" target="_blank" title="Сообщество ВКонтакте">
								Наше сообщество ВК
							</a>
						</button>					
					</div>
				</section>

				<section class="slider_element">
					<div class="header_block">
						<h1>
							<span class="invisible"></span>
							Школа танца
						</h1>
					</div>

					<div class="text">
						<p>
							Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Сих прямо ты себя, предупредила, возвращайся которой его страну рекламных. Страна последний своих снова, первую строчка, города ручеек если грамматики осталось коварных, мир парадигматическая заглавных!
						</p>
					</div>
				</section>
			</div>
		</div>
		<div class="slider_navigation">
			<label for="s1" class="nav_bar" id="first_button_bar"></label>
			<label for="s2" class="nav_bar" id="second_button_bar"></label>
			<!--<label for="s3" class="nav_bar" id="third_button_bar"></label>-->
		</div>
	</div>				
</div>

<div class="dance__wrapper_second">
	<div class="text_sup_second">
		<h2>
			Наставники
			<span class="invisible"></span>
		</h2>
	</div>

	<div class="container">
		<div class="block">
			<div class="under_text">
				<a href="https://vk.com/id10474917" title="ВКонтакте" target="_blank">Ирина Гамаскова</a>
				<br>
				<strong>
					Учитель
					<span class="invisible"></span>
				</strong>
			</div>
		</div>

		<div class="block">
			<div class="under_text">
				<a href="https://vk.com/id104290991" title="ВКонтакте" target="_blank">Валерий Койнак</a>
				<br>
				<strong>
					Основатель
					<span class="invisible"></span>
				</strong>
			</div>
		</div>
		
		<div class="block">
			<div class="under_text">
				<a href="https://vk.com/elizavetaivanovaimpulse" title="ВКонтакте" target="_blank">Елизавета Иванова</a>
				<br>
				<strong>
					Учитель
					<span class="invisible"></span>
				</strong>
			</div>
		</div>
	</div>
</div>

<div class="wrapper_third dance__wrapper_third">
	<div class="container_slider">
		<div class="container_line">
			<section class="block">
				<div class="text_locate">
					<span>Важная информация</span>

					<p>В наш проект вовлечено много людей: от новичков до профессионалов. Приходите и вы, мы поможем вам в ваших начинаниях!</p>
				</div>

				<div class="image_locate">
					<img src="{{ url_for('static', filename='img/dance_image1.jpg') }}" alt="">
				</div>
			</section>

			<section class="block">
				<div class="text_locate">
					<span>Важная информация</span>

					<p>Наше расписание вы можете видеть прямо сейчас: оно всегда неизменно. </p>
				</div>

				<div class="image_locate">
					<ul class="raspisanie">
						<li class="raspisanie_element"><span>Понедельник</span></li>
						<li class="raspisanie_element"><span>Вторник</span></li>
						<li class="raspisanie_element"><span>Среда</span></li>
						<li class="raspisanie_element"><span>Четверг</span></li>
						<li class="raspisanie_element"><span>Пятница</span></li>
						<br>
						<li class="raspisanie_element"><span>Суббота</span></li>

						<div id="budni_time">
							<span class="time_element">
								10:00-12:00
								<i class="line_time"></i>
							</span>

							<span class="time_element">16:00-21:00</span>
						</div>

						<i class="line"></i>

						<div id="weekend_time">
							<span class="time_element">
								11:00-15:00
							</span>
						</div>
					</ul>
				</div>
			</section>

			<section class="block">
				<div class="text_locate">
					<span>Важная информация</span>

					<p>По вопросам вступления пишите наставникам, ссылки на которых предоставлены выше.</a></p>
				</div>

				<div class="image_locate">
					<img src="{{ url_for('static', filename='img/dance_image2.jpg') }}" alt="">
				</div>
			</section>
		</div>
	</div>

	<button id="prev">
		‹
	</button>

	<button id="next">
		›
	</button>
</div>

<div class="dance__wrapper_fourth">
	<section class="container">
		<div class="head_about">
			<h2>О "Школе Танцев"</h2>
			<p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Несколько свой рукописи заманивший ты взобравшись, о домах пояс над.</p>

			<i class="line"></i>
		</div>

		<!--Блок с историей-->
		<div class="history_story">
			<div class="block">
				<div class="head__history">
					<h2>Достижения</h2>
				</div>

				<div class="story_block">
					<div class="line__story">
						<p>
							<span>2016 - </span>Мы завоевали кубок России на Чемпионате Бразилии
						</p>
					</div>

					<div class="line__story">
						<p>
							<span>2015 - </span> Завоевали России Мы завоевали кубок России на Чемпионате Бразилии
						</p>
					</div>

					<div class="line__story">
						<p>
							<span>2014 - </span> Мы завоевали Бразилию
						</p>
					</div>
				</div>
			</div>

			<div class="block">
				<div class="head__history">
					<h2>История</h2>
				</div>

				<div class="text__history">
					<p>
						Далеко-далеко за, словесными горами в стране гласных и согласных живут рыбные тексты. Жизни свой рукописи рыбного ты океана пор страну даль имени вопроса подпоясал, они строчка лучше реторический всемогущая использовало точках которое.
					</p>
				</div>
			</div>
		</div>
	</section>
</div>

<div class="dance__wrapper_fifth">
	<div class="text_sup__what">
		<h2>Что мы изучаем на уроках?</h2>
	</div>

	<div class="container__what">
		<div class="block__what">
			<div class="center_text__what">
				<img src="{{ url_for('static', filename='img/waltz.png') }}" alt="Вальс.png" class="image__what">
				<span class="dance_pop waltz">Вальс</span>

				<p>Танцуем "Венский вальс" в открытых позициях.</p>
			</div>
		</div>

		<div class="block__what">
			<div class="center_text__what">
				<img src="{{ url_for('static', filename='img/salza.png') }}" alt="Сальса.png" class="image__what">
				<span class="dance_pop salza">Сальса</span>

				<p>Танцуем "Венский вальс" в открытых позициях.</p>
			</div>
		</div>

		<div class="block__what">
			<div class="center_text__what">
				<img src="{{ url_for('static', filename='img/tango.png') }}" alt="Танго.png" class="image__what">
				<span class="dance_pop tango">Танго</span>

				<p>Танцуем "Венский вальс" в открытых позициях.</p>
			</div>
		</div>

		<div class="block__what">
			<div class="center_text__what">
				<img src="{{ url_for('static', filename='img/yoga.png') }}" alt="Йога.png" class="image__what">
				<span class="dance_pop yoga">Йога</span>

				<p>Танцуем "Венский вальс" в открытых позициях.</p>
			</div>
		</div>
	</div>
</div>

<section class="dance_popup pop_waltz">
	<div class="content_dance_popup">
		<span class="close_dance waltz_close">Х</span>

		<h2>История Вальса</h2>

		<img src="{{ url_for('static', filename='img/waltz_pop.jpg') }}" alt="" class="dance_pop_image">

		<div class="scroll_dance_pop_block">
			<p>Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные, тексты. Она ему гор, снова над подпоясал маленькая курсивных буквенных злых последний скатился по всей щеке первую моей, ipsum букв одна строчка жаренные лучше прямо. Гор, необходимыми!</p>
			<br>
			<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Знаках своих, деревни рукописи грамматики подзаголовок толку, вскоре путь возвращайся проектах вдали ведущими наш ты переписали? Города, скатился большой предупреждал маленькая мир, предупредила, образ собрал сих своих от всех заманивший то путь рыбными, запятой на берегу. Грустный языком грамматики оксмокс, приставка знаках!</p>
			<br>
			<p>Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные, тексты. Она ему гор, снова над подпоясал маленькая курсивных буквенных злых последний скатился по всей щеке первую моей, ipsum букв одна строчка жаренные лучше прямо. Гор, необходимыми!</p>
			<br>
			<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Знаках своих, деревни рукописи грамматики подзаголовок толку, вскоре путь возвращайся проектах вдали ведущими наш ты переписали? Города, скатился большой предупреждал маленькая мир, предупредила, образ собрал сих своих от всех заманивший то путь рыбными, запятой на берегу. Грустный языком грамматики оксмокс, приставка знаках!</p>
			<br>
			<p>Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные, тексты. Она ему гор, снова над подпоясал маленькая курсивных буквенных злых последний скатился по всей щеке первую моей, ipsum букв одна строчка жаренные лучше прямо. Гор, необходимыми!</p>
			<br>
			<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Знаках своих, деревни рукописи грамматики подзаголовок толку, вскоре путь возвращайся проектах вдали ведущими наш ты переписали? Города, скатился большой предупреждал маленькая мир, предупредила, образ собрал сих своих от всех заманивший то путь рыбными, запятой на берегу. Грустный языком грамматики оксмокс, приставка знаках!</p>
		</div>
	</div>
</section>

<section class="dance_popup pop_salza">
	<div class="content_dance_popup">
		<span class="close_dance salza_close">Х</span>

		<h2>История Сальсы</h2>

		<img src="{{ url_for('static', filename='img/salza_pop.jpg') }}" alt="" class="dance_pop_image">

		<div class="scroll_dance_pop_block">
			<p>Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные, тексты. Она ему гор, снова над подпоясал маленькая курсивных буквенных злых последний скатился по всей щеке первую моей, ipsum букв одна строчка жаренные лучше прямо. Гор, необходимыми!</p>
			<br>
			<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Знаках своих, деревни рукописи грамматики подзаголовок толку, вскоре путь возвращайся проектах вдали ведущими наш ты переписали? Города, скатился большой предупреждал маленькая мир, предупредила, образ собрал сих своих от всех заманивший то путь рыбными, запятой на берегу. Грустный языком грамматики оксмокс, приставка знаках!</p>
			<br>
			<p>Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные, тексты. Она ему гор, снова над подпоясал маленькая курсивных буквенных злых последний скатился по всей щеке первую моей, ipsum букв одна строчка жаренные лучше прямо. Гор, необходимыми!</p>
			<br>
			<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Знаках своих, деревни рукописи грамматики подзаголовок толку, вскоре путь возвращайся проектах вдали ведущими наш ты переписали? Города, скатился большой предупреждал маленькая мир, предупредила, образ собрал сих своих от всех заманивший то путь рыбными, запятой на берегу. Грустный языком грамматики оксмокс, приставка знаках!</p>
			<br>
			<p>Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные, тексты. Она ему гор, снова над подпоясал маленькая курсивных буквенных злых последний скатился по всей щеке первую моей, ipsum букв одна строчка жаренные лучше прямо. Гор, необходимыми!</p>
			<br>
			<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Знаках своих, деревни рукописи грамматики подзаголовок толку, вскоре путь возвращайся проектах вдали ведущими наш ты переписали? Города, скатился большой предупреждал маленькая мир, предупредила, образ собрал сих своих от всех заманивший то путь рыбными, запятой на берегу. Грустный языком грамматики оксмокс, приставка знаках!</p>
		</div>
	</div>
</section>

<section class="dance_popup pop_tango">
	<div class="content_dance_popup">
		<span class="close_dance tango_close">Х</span>

		<h2>История Танго</h2>

		<img src="{{ url_for('static', filename='img/tango_pop.jpg') }}" alt="" class="dance_pop_image">

		<div class="scroll_dance_pop_block">
			<p>Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные, тексты. Она ему гор, снова над подпоясал маленькая курсивных буквенных злых последний скатился по всей щеке первую моей, ipsum букв одна строчка жаренные лучше прямо. Гор, необходимыми!</p>
			<br>
			<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Знаках своих, деревни рукописи грамматики подзаголовок толку, вскоре путь возвращайся проектах вдали ведущими наш ты переписали? Города, скатился большой предупреждал маленькая мир, предупредила, образ собрал сих своих от всех заманивший то путь рыбными, запятой на берегу. Грустный языком грамматики оксмокс, приставка знаках!</p>
			<br>
			<p>Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные, тексты. Она ему гор, снова над подпоясал маленькая курсивных буквенных злых последний скатился по всей щеке первую моей, ipsum букв одна строчка жаренные лучше прямо. Гор, необходимыми!</p>
			<br>
			<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Знаках своих, деревни рукописи грамматики подзаголовок толку, вскоре путь возвращайся проектах вдали ведущими наш ты переписали? Города, скатился большой предупреждал маленькая мир, предупредила, образ собрал сих своих от всех заманивший то путь рыбными, запятой на берегу. Грустный языком грамматики оксмокс, приставка знаках!</p>
			<br>
			<p>Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные, тексты. Она ему гор, снова над подпоясал маленькая курсивных буквенных злых последний скатился по всей щеке первую моей, ipsum букв одна строчка жаренные лучше прямо. Гор, необходимыми!</p>
			<br>
			<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Знаках своих, деревни рукописи грамматики подзаголовок толку, вскоре путь возвращайся проектах вдали ведущими наш ты переписали? Города, скатился большой предупреждал маленькая мир, предупредила, образ собрал сих своих от всех заманивший то путь рыбными, запятой на берегу. Грустный языком грамматики оксмокс, приставка знаках!</p>
		</div>
	</div>
</section>

<section class="dance_popup pop_yoga">
	<div class="content_dance_popup">
		<span class="close_dance yoga_close">Х</span>

		<h2>История Йоги</h2>

		<img src="{{ url_for('static', filename='img/yoga_pop.jpg') }}" alt="" class="dance_pop_image">

		<div class="scroll_dance_pop_block">
			<p>Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные, тексты. Она ему гор, снова над подпоясал маленькая курсивных буквенных злых последний скатился по всей щеке первую моей, ipsum букв одна строчка жаренные лучше прямо. Гор, необходимыми!</p>
			<br>
			<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Знаках своих, деревни рукописи грамматики подзаголовок толку, вскоре путь возвращайся проектах вдали ведущими наш ты переписали? Города, скатился большой предупреждал маленькая мир, предупредила, образ собрал сих своих от всех заманивший то путь рыбными, запятой на берегу. Грустный языком грамматики оксмокс, приставка знаках!</p>
			<br>
			<p>Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные, тексты. Она ему гор, снова над подпоясал маленькая курсивных буквенных злых последний скатился по всей щеке первую моей, ipsum букв одна строчка жаренные лучше прямо. Гор, необходимыми!</p>
			<br>
			<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Знаках своих, деревни рукописи грамматики подзаголовок толку, вскоре путь возвращайся проектах вдали ведущими наш ты переписали? Города, скатился большой предупреждал маленькая мир, предупредила, образ собрал сих своих от всех заманивший то путь рыбными, запятой на берегу. Грустный языком грамматики оксмокс, приставка знаках!</p>
			<br>
			<p>Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные, тексты. Она ему гор, снова над подпоясал маленькая курсивных буквенных злых последний скатился по всей щеке первую моей, ipsum букв одна строчка жаренные лучше прямо. Гор, необходимыми!</p>
			<br>
			<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Знаках своих, деревни рукописи грамматики подзаголовок толку, вскоре путь возвращайся проектах вдали ведущими наш ты переписали? Города, скатился большой предупреждал маленькая мир, предупредила, образ собрал сих своих от всех заманивший то путь рыбными, запятой на берегу. Грустный языком грамматики оксмокс, приставка знаках!</p>
		</div>
	</div>
</section>

<script src="{{ url_for('static', filename='javascript/js.js') }}"></script>

<script>
	function sliderFect(){
		const sliderElement = document.querySelector(".container_slider");
		sliderThirdLine = document.querySelector('.container_line');

		let leftOff = 0;
			next = document.querySelector('#next');
			prev = document.querySelector('#prev');
			//Число смещения
			numberLeft = 960;

		next.addEventListener("click", function(){
			leftOff = leftOff + numberLeft;
			if(leftOff > numberLeft*2){
				leftOff = 0;
			}
			sliderThirdLine.style.left = -leftOff + "px";
		})

			prev.addEventListener("click", function(){
			leftOff = leftOff - numberLeft;
			if(leftOff < 0){
				leftOff = numberLeft*2;
			}
			sliderThirdLine.style.left = -leftOff + "px";
		})

		//Проверка разрешения монитора
		let active = window.setInterval(
			function numberXnumber(){
				if(window.screen.width < 1470){
					numberLeft = document.querySelector(".dance__wrapper_third .container_slider .container_line .block");
				}else if(window.screen.width > 1470){
					numberLeft = document.querySelector(".dance__wrapper_third .container_slider .container_line .block");
				}
			}, 10
		)
	}

sliderFect()
</script>

<script>
	function popDanceFunc(){
	const dancePop = document.querySelectorAll(".dance_popup");
		popWaltz = document.querySelector(".pop_waltz");
		popSalza = document.querySelector(".pop_salza");
		popTango = document.querySelector(".pop_tango");
		popYoga = document.querySelector(".pop_yoga");

	let	closeDance = document.querySelector(".dance_close")
		closeWaltz = document.querySelector(".waltz_close");
		closeSalza = document.querySelector(".salza_close")
		closeTango = document.querySelector(".tango_close")
		closeYoga = document.querySelector(".yoga_close")

	let buttonPop = document.querySelectorAll(".dance_pop");
		buttonWaltz = document.querySelector(".waltz");
		buttonSalza = document.querySelector(".salza");
		buttonTango = document.querySelector(".tango");
		buttonYoga = document.querySelector(".yoga");

		//Общее
		//Вальс
		buttonWaltz.addEventListener("click", function(){
			popWaltz.style.position = "fixed";
			popWaltz.style.top = "0";

			document.body.style.overflowY = "hidden";
		})

		closeWaltz.addEventListener("click", function(){
			popWaltz.style.position = "";
			popWaltz.style.top = "";

			document.body.style.overflowY = "scroll";
		})

		window.addEventListener("click", function(event){
			if(popWaltz.style.position = "fixed" && event.target == popWaltz){
				popWaltz.style.position = "";
				popWaltz.style.top = "";

				document.body.style.overflowY = "scroll";
			}
		})
		//Сальса
		buttonSalza.addEventListener("click", function(){
			popSalza.style.position = "fixed";
			popSalza.style.top = "0";

			document.body.style.overflow = "hidden";
		})

		closeSalza.addEventListener("click", function(){
			popSalza.style.position = "";
			popSalza.style.top = "";

			document.body.style.overflowY = "scroll";
		})

		window.addEventListener("click", function(event){
			if(popSalza && event.target == popSalza){
				popSalza.style.position = "";
				popSalza.style.top = "";

				document.body.style.overflowY = "scroll";
			}
		})
		//Танго
		buttonTango.addEventListener("click", function(){
			popTango.style.position = "fixed";
			popTango.style.top = "0";

			document.body.style.overflowY = "hidden";
		})

		closeTango.addEventListener("click", function(){
			popTango.style.position = "";
			popTango.style.top = "";

			document.body.style.overflowY = "scroll";
		})

		window.addEventListener("click", function(event){
			if(popTango && event.target == popTango){
				popTango.style.position = "";
				popTango.style.top = "";

				document.body.style.overflowY = "scroll";
			}
		})
		//Йога
		buttonYoga.addEventListener("click", function(){
			popYoga.style.position = "fixed";
			popYoga.style.top = "0";

			document.body.style.overflow = "hidden";
		})

		closeYoga.addEventListener("click", function(){
			popYoga.style.position = "";
			popYoga.style.top = "";

			document.body.style.overflowY = "scroll";
		})

		window.addEventListener("click", function(event){
			if(popYoga && event.target == popYoga){
				popYoga.style.position = "";
				popYoga.style.top = "";

				document.body.style.overflowY = "scroll";
			}
		})
}
try{
	popDanceFunc();
}catch(err){
	
}
</script>
{% endblock %}