{% extends 'base.html' %}

{% block content %}
{{ super() }}
<div class="find__wrapper_first">
	<div class="text_feedback_find__first">
		<h2>
			Наша команда юристов
			<span class="invisible"></span>
		</h2>
	</div>

	<section class="feedback find_block">
		<a href="https://vk.com/id231494229" target="_blank" class="feedback_block">
			<div class="name_client">
				<div class="foto__client">
					<img src="{{ url_for('static', filename='img/yurist_human_1.jpg') }}" alt="Иван Ургант">
				</div>
				
				<div class="name_link__client">
					<p>
						<img src="{{ url_for('static', filename='img/vk_2.png') }}" alt="" class="client__contact">
						Иван Ургант
						<span>Стаж: >3 лет</span>
					</p>
				</div>
			</div>

			<div class="text_client">
				<p>Далеко-далеко за, словесными горами в стране гласных и согласных живут рыбные тексты. Рыбными вершину по всей курсивных залетают, его дорогу не, языкового, о все ipsum маленькая грустный, своих. Букв, своего, не. Она, агентство.</p>
			</div>
		</a>

		<a href="https://vk.com/galustyanrf" target="_blank" class="feedback_block">
			<div class="name_client">
				<div class="foto__client">
					<img src="../img/yurist_human_2.jpg" alt="Ваша Фотография">
				</div>
				
				<div class="name_link__client">
					<p>
						<img src="../img/vk_2.png" alt="" class="client__contact">
						Михаил Галустян
						<span>Стаж: >6 лет</span>
					</p>
				</div>
			</div>

			<div class="text_client">
				<p>Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Текстами сих, переписали текста залетают имеет страну, знаках о своих до, предупреждал свое все его?</p>
			</div>
		</a>

		<a href="https://vk.com/nagiev.universal" target="_blank" class="feedback_block">
			<div class="name_client">
				<div class="foto__client">
					<img src="../img/yurist_human_3.jpg" alt="Ваша фотография">
				</div>
				
				<div class="name_link__client">
					<p>
						<img src="../img/vk_2.png" alt="" class="client__contact">
						Дмитрий Нагиев
						<span>Стаж: 4 года</span>
					</p>
				</div>
			</div>

			<div class="text_client">
				<p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Безорфографичный власти, решила переписывается составитель!</p>
			</div>
		</a>

		<a href="https://vk.com/sasha.petrov" target="_blank" class="feedback_block">
			<div class="name_client">
				<div class="foto__client">
					<img src="../img/yurist_human_2.jpg" alt="Ваша фотография">
				</div>
				
				<div class="name_link__client">
					<p>
						<img src="../img/vk_2.png" alt="" class="client__contact">
						Александр Петров
						<span>Стаж: <4 лет</span>
					</p>
				</div>
			</div>

			<div class="text_client">
				<p>Далеко-далеко за словесными горами, в стране гласных и согласных живут рыбные, тексты. Они строчка рукописи своего ведущими безопасную подзаголовок вдали о пояс моей, своих проектах буквоград, силуэт, заглавных злых маленькая страну продолжил!</p>
			</div>
		</a>

		<a href="https://vk.com/id231494229" target="_blank" class="feedback_block">
			<div class="name_client">
				<div class="foto__client">
					<img src="../img/yurist_human_1.jpg" alt="Иван Ургант">
				</div>
				
				<div class="name_link__client">
					<p>
						<img src="../img/vk_2.png" alt="" class="client__contact">
						Иван Ургант
						<span>Стаж: 1год</span>
					</p>
				</div>
			</div>

			<div class="text_client">
				<p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Домах напоивший текстами, осталось то.</p>
			</div>
		</a>

		<a href="https://vk.com/galustyanrf" target="_blank" class="feedback_block">
			<div class="name_client">
				<div class="foto__client">
					<img src="../img/yurist_human_2.jpg" alt="Ваша Фотография">
				</div>
				
				<div class="name_link__client">
					<p>
						<img src="../img/vk_2.png" alt="" class="client__contact">
						Михаил Галустян
						<span>Стаж: >7 лет</span>
					</p>
				</div>
			</div>

			<div class="text_client">
				<p>Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Точках то себя имеет всеми прямо текстами проектах правилами скатился эта маленькая маленький речью lorem, по всей запятых, страна оксмокс, большого.</p>
			</div>
		</a>
	</section>
</div>
{% endblock %}